div.cerveja{
    margin-bottom: 7px;
    background-color: black;
    color: aqua;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: fit-content;
}

#botaoCarregar{
    background-color: #4CAF50; 
    color: aqua; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
}
#botaoOrdenar {
    background-color: #008CBA;
    color: azure;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#botaoEmbaralhar {
    background-color: #f44336;
    color: greenyellow;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
